@charset "utf-8";

/**********************************************************************************************************
	TIC-100 : 티켓
**********************************************************************************************************/
.ticket_title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ticket_title p.ticket-status {
  float: left;
  margin-top: 1px;
  line-height: 14px;
}
.pj_label_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 6px;
}
.pj_label_container > div {
  margin: 0 3px 3px 0;
  padding: 2px 8px;
  font-size: 13px;
  color: white;
  border-radius: 4px;
  cursor: default;
}
.pj_label_container > div.pj_label {
  background-color: var(--gray);
}
.pj_label_container > div.pj_tag {
  padding-left: 23px;
  background-color: #bcc7d1;
  background: #bcc7d1 url(../assets-svg/tag-solid-white.svg) no-repeat;
  background-size: 10px;
  background-position: 8px center;
}
#Detect_Ticket_Modified.section_footer {
  display: none;
}
#Detect_Ticket_Modified.section_footer.on {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-xs);
  color: var(--red);
  line-height: 28px;
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
}
#Detect_Ticket_Modified.section_footer.on + section.ticket_regit {
  height: calc(100% - 102px);
}

/**********************************************************************************************************
	CUS-100 : 고객정보
**********************************************************************************************************/
header.cust_info_search {
  padding-right: 0;
}
.search_input_wrap {
  position: relative;
  width: 100%;
}
.search_input_wrap input[type='text'] {
  position: relative;
  height: 30px;
  padding-left: 60px;
  font-size: var(--font-md);
  background-color: #e0e9ee;
  border: 1px solid #e0e9ee;
}
.search_input_wrap input[type='text']:hover {
  border: 1px solid rgb(203, 212, 222);
}
.search_input_wrap input[type='text']:focus {
  border-color: #80bdff;
}
.search_input_wrap > button {
  position: absolute;
  top: 1px;
  width: 45px;
  height: 28px;
  margin: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: #aab5c5;
}
.search_input_wrap > button.execute {
  left: 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search_input_wrap > button.delete {
  right: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search_input_wrap > button.execute:hover,
.search_input_wrap > button.delete:hover {
  background-color: #c9d3d8;
  color: var(--label);
}
.search_input_wrap > button.execute:focus,
.search_input_wrap > button.delete:focus {
  background-color: #c9d3d8;
  color: var(--label);
  box-shadow: none;
}

.cust_info_search .sel_cat_t_btn {
  position: relative;
  width: 50px;
}
.cust_info_search .sel_cat_t_btn > p {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: var(--label);
  cursor: pointer;
  transition: color 0.2s ease;
}
.cust_info_search .sel_cat_t_btn > p:hover {
  color: black;
}
.cust_info_search .sel_cat_t_btn:hover .sub_content_wrap {
  display: block;
}

section.table_grid_wrap {
  height: calc(100% - 50px);
  padding-left: 16px;
  background-color: white;
}
.table_container {
  height: 100%;
  padding: 0 16px 10px 0;
}
.table_container div.head > div > span.summary {
  color: var(--label);
  font-size: var(--font-sm);
}
.table_container div.head > div > span > span {
  color: #222;
  font-weight: 500;
}
.table_container div.head > div > span > span::after {
  padding-right: 8px;
  content: ',';
}
.table_container div.head > div > span > span:last-of-type::after {
  content: '';
}

aside .more_info {
  margin-top: 6px;
  padding-top: 16px;
  border-top: 1px dotted var(--border);
}
aside .more_info .title {
  font-size: var(--font-lg);
  padding-bottom: 12px;
}
aside .more_info span {
  padding-left: 4px;
  font-size: var(--font-sm);
  font-weight: normal;
}

/**********************************************************************************************************
	ARC-100 : 티켓 아카이브
**********************************************************************************************************/
.ticket_view {
  display: none;
  position: absolute;
  top: 50px;
  right: /* -870px */ 0;
  height: calc(100% - 50px);
  width: 840px;
  background-color: rgb(243, 247, 249);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
}

.ticket_view > article {
  position: absolute;
  top: 0;
  left: 0;
  width: 490px;
  height: 100%;
}
.ticket_view > .link_client {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 490px);
  height: 100%;
}
.ticket_view > .link_client > header {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  font-size: var(--font-lg);
  border-bottom: 1px solid var(--border);
  background-color: white;
}
.ticket_view .ticket_title {
  padding-left: 44px;
}

/**********************************************************************************************************
	SET-100 : 설정
**********************************************************************************************************/
section.setup {
  height: calc(100% - 50px);
  background-image: url(../assets-svg/cog-solid-light.svg);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: right -80px bottom 20px;
}
section.setup_wrap {
  height: calc(100% - 50px);
  padding: 0 25px;
}
section.setup_wrap > header {
  height: 60px;
  margin-bottom: 14px;
  padding: 20px 0 10px 0;
  line-height: 30px;
  font-size: var(--font-lg);
  font-weight: 500;
  border-bottom: 1px solid var(--border);
  color: var(--label);
}
.sentence_wrap {
  height: 100%;
  padding-top: 20px;
  background-image: url(../assets-svg/cog-solid-light.svg);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: right 300px bottom -30px;
}

.contents {
  width: 100%;
}
.short_width {
  width: 530px;
}

/**********************************************************************************************************
	SET-110 : 가입자 정보 및 채널
**********************************************************************************************************/
.channel_record {
  position: relative;
  margin-bottom: 12px;
  padding: 0 50px 0 0;
  background-color: rgba(243, 247, 249, 0.75);
  transition: all 0.3s ease-out;
  cursor: default;
}
.channel_record:hover {
  background-color: rgba(203, 212, 222, 0.5);
}
.channel_record.selected {
  background-color: rgba(203, 212, 222, 0.5);
}
.channel_record > div {
  margin-right: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.channel_record > div.bi {
  width: 62px;
  height: 48px;
}
.channel_record > div.unfold_btn,
.channel_record > div.fold_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 48px;
  margin-right: 0;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
}
.channel_record:hover > div.unfold_btn {
  background-image: url(../assets-svg/chevron-down-solid-gray.svg);
}
.channel_record:hover > div.unfold_btn:hover {
  background-color: rgba(203, 212, 222, 0.75);
  background-image: url(../assets-svg/chevron-down-solid.svg);
  transition: background 0.3s ease-out;
  cursor: pointer;
}
.channel_record > div.fold_btn {
  display: none;
}
.channel_record > div.fold_btn {
  background-image: url(../assets-svg/chevron-up-solid-gray.svg);
}
.channel_record:hover > div.fold_btn:hover {
  background-color: rgba(203, 212, 222, 0.75);
  background-image: url(../assets-svg/chevron-up-solid.svg);
  transition: background 0.3s ease-out;
  cursor: pointer;
}
.view {
  height: 0;
  margin-bottom: 14px;
  border-bottom: 1px dotted var(--border);
  overflow: hidden;
}
.channel_record.flex-row-align-left.selected > .unfold_btn {
  display: none;
}
.channel_record_wrap:last-of-type .view {
  border-bottom: none;
}

/**********************************************************************************************************
	SET-120 : 그룹 관리
**********************************************************************************************************/
.detect_edit {
  font-size: var(--font-xs);
  color: var(--red);
  font-weight: normal;
  line-height: 30px;
}
dd .group_container {
  position: relative;
  height: 44px;
  padding: 0 14px;
  margin-bottom: 12px;
  display: flex !important;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  background-color: rgb(231, 236, 238);
  border: 2px solid rgb(231, 236, 238);
  border-radius: 4px;
  transition: all 0.3s ease-out;
}
dd .group_container:hover {
  background-color: rgb(218, 224, 226);
  border: 2px solid rgb(218, 224, 226);
}
dd .group_container input[type='text'] {
  position: absolute;
  top: 5px;
  right: 260px;
  width: 300px;
  background-color: rgb(231, 236, 238);
  border-color: rgb(231, 236, 238);
}
dd .group_container input[type='text']:focus {
  background-color: white;
  border-color: white;
}
dd .group_container input[readonly='true'] {
  background-color: transparent;
  border-color: transparent;
  cursor: default;
}
dd .group_container:hover input[readonly='true'] {
  background-color: transparent;
  border-color: transparent;
}
dd .group_container input[readonly='true']:focus {
  background-color: transparent;
  border-color: transparent;
}
dd .group_container div.btn_group {
  position: absolute;
  top: 5px;
  right: 140px;
  opacity: 0;
  transition: all 0.2s ease-out;
}
dd .group_container:hover div.btn_group {
  opacity: 1;
}
dd .group_container button {
  position: relative;
  width: 30px;
}
dd .group_container span.user_count {
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: var(--font-sm);
  color: var(--label);
}
dd .group_container span.user_count::after {
  content: ' Users';
}
dd .group_container div.sort {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 40px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #c3c9d2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
dd .group_container div.sort:hover {
  background-color: rgb(194, 203, 206);
  color: var(--label);
  transition: all 0.3s ease-out;
  cursor: move;
}
dd .group_container::before {
  min-width: 40px;
  color: var(--label);
  font-size: var(--font-sm);
}
dd.d_1 .group_container::before {
  content: '1수준';
}
dd.d_2 {
  padding-left: 70px;
}
dd.d_2 .group_container::before {
  content: '2수준';
}
dd.d_3 {
  padding-left: 140px;
}
dd.d_3 .group_container::before {
  content: '3수준';
}
dd.d_4 {
  padding-left: 210px;
}
dd.d_4 .group_container::before {
  content: '4수준';
}
dd.d_5 {
  padding-left: 280px;
}
dd.d_5 .group_container::before {
  content: '5수준';
}
dd .group_container.add::before {
  content: '새 라벨';
}
dd .group_container button > span {
  display: none;
  position: absolute;
  top: -30px;
  left: -1px;
  height: 22px;
  padding: 2px 8px;
  line-height: 16px;
  font-size: var(--font-sm);
  background-color: black;
  border-radius: 4px;
}
dd .group_container button > span::before {
  display: block;
  position: absolute;
  bottom: -3px;
  left: 12px;
  width: 6px;
  height: 6px;
  content: '';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: black;
}
dd .group_container button:hover > span {
  display: block;
}

dd.angle .group_container {
  height: 44px;
  margin-bottom: 12px;
  border: 2px dashed var(--border);
  border-radius: 4px;
  background-color: transparent;
}
dd.angle .group_container::after {
  width: 100%;
  content: '이 위치로 변경';
  color: var(--label);
  text-align: center;
}
dd .group_container.add > div.btn_group {
  opacity: 1;
}

/**********************************************************************************************************
	SET-130 : 사용자 관리
**********************************************************************************************************/
.user_info_search {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  line-height: 20px !important;
}
.user_info_search .search_input_wrap {
  width: 300px;
}
.filter_option {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  min-width: 400px;
}
p[data='on'],
p[data='off'],
p[data='lock'] {
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center 4px;
  text-indent: -1000px;
}
p[data='on'] {
  background-image: url(../assets-svg/toggle-on-solid.svg);
}
p[data='off'] {
  background-image: url(../assets-svg/toggle-off-solid-gray.svg);
}
p[data='lock'] {
  background-image: url(../assets-svg/user-lock-solid.svg);
}
